 /* Style the form */
 #regForm {
    background-color: #000;
    margin: auto;
    min-width: 300px;
  }

  .form-part {
    padding: 50px 0px 50px 0px;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }


  .form-row > * {
    margin: 5px;
  }

  .form-row > label button{
    font-size: 12px;
  }

  .form-check {
    text-align: left;
    line-height: 1 !important;
  }

  .form-check-label {
    display: inline;
  }

  .form-img {
    float:left;
    max-width: 200px;
    max-height: 200px;
    border: black;
  }

  .form-check-input {
    display: inline;
    width: 10px;
  }

  .form-row-checkboxes {
    padding: 5px;
    float:left;
    border: black;
  }

  .special-img {
    max-width: 130px !important;
    max-height: 130px !important;
    padding:0px !important;
    border: black !important;
    margin:0px 0px 10px 0px !important;
  }

  .col6-temporary {
    width: 50%;
  }

  .btn-comment{
    color: #000;
    background-color: darkgray;
    line-height: 0px;
    border-radius: 5px;
    padding: 12px 12px;
    margin: 5px;
    float: left;
  }

  .overlapping-label {
    z-index: 2;
    color: #3269d2;
    position: relative;
    margin: 0px;
    left: -15%;
    font-size: large;
  }
  
  @media (max-width: 420px) {
    .container {
      width: 100%;
    }
    .btn-comment {
      font-size: 10px;
    }
  }

  @media (min-width: 420px) {
    .form-check-input {
      display: inline;
      width: 20px;
    }


    .overlapping-label {
      z-index: 2;
      color: #3269d2;
      position: relative;
      margin: 0px;
      left: -12%;
      font-size: large;
    }
  
    .form-check {
      text-align: left;
      line-height: 1.5 !important;
    }
    .col6-temporary {
      width: 90%;
    }
  
    .form-row > label button {
      font-size: 14px;
    }

    .form-row-checkboxes {
      padding: 10px;
      float:left;
      border: black;
    }
    .special-img {
      max-width: 180px !important;
      max-height: 180px !important;
      padding:0px !important;
      border: black !important;
      margin:0px 0px 10px 0px !important;
    }
  }

  .modal-img {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .emphasize em {
    color: #fc4a4a;
  }

  .button-com-gen {
    font-size: 28px;
    min-width: 50%;
    min-height: 50px;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 90%;
    font-size: 17px;
    font-family: Raleway;
    color: black;
    border: 1px solid #aaaaaa;
  }

  .unanswered-div {
    border: 2px solid #970000;
  }

  .answered-div {
    border: 2px solid #000000;
  }

  .zero-padding {
    padding-right: 0px;
    padding-left: 0px;
  }

  .representation {
    align-content: center;
    display: inline-flex;
  }

  @media (min-width: 420px) {
    .representation > .form-row {
      min-width: 420px;
    }
  }

  .question-label {
    font-size: 24px;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  } 



  /* Tests */
  .conten div {
    width: 160px;
    height: 20px;    
 }

 .div-button {
  padding: 20px;
  width: 200px;
 }

 .form-button {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .form-button {
    padding: 0 2.6rem;
  }
}

.form-button-big {
  background-image: linear-gradient(92.88deg, #7893f5 9.16%, #6752f1 43.89%, #6e3cf8 64.72%);
  border-radius: 16px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 32px;
  font-weight: 500;
  height: 8rem;
  padding: 0 3.2rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form-button-big :hover {
  box-shadow: rgba(97, 77, 245, 0.5) 0 2px 60px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .form-button-big  {
    padding: 0 5.2rem;
  }
}

#validFormLabel {
  color: #ff0000;
}