.modalImage {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.modalImage:hover {opacity: 0.7;}

.modal {
    display: none;
    position: fixed; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
    color: black;
    background-color: black;
    display: table;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.closeModal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeModal:hover,
.closeModal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
    width: 100%;
    }
}

.textarea-modal {
    width: 100%;
    height: 100%;
}

.textarea-modal::selection {
    background: #34495e;
    color: white;
}