
<!-- 404 Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <div w3-include-html="../_includes/head.html"></div> 

  <body id="page-top" style="background-image: url(img/hci-form/bg.jpg);background-size: cover;background-position: center;background-attachment: fixed;" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    <section class="container content-section text-center">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">

          <h1><strong>Preferences for the representation of microgestures in augmented reality</strong></h1>
          
          <p>Unfortunately, your participation could not be taken into account. Please try again with another device, and contact me in case of recurrence.</p>


          <br>
          <br>

          <!-- {{ page.content | markdownify }} -->

          <img class="img-responsive center-block fourofour" src="{{site.baseurl}}{{ site.err-404-img }}" alt="">
          <br>
          <br>

        </div>
      </div>
    </section>

    <div w3-include-html="../_includes/footer.html"></div> 

    <div w3-include-html="../_includes/js.html"></div> 
    <script src="../js/includeHTML.js"></script>

  </body>
</html>

<!-- 404 Layout End
